<%- include('templates/head')%>

<form action="/newTransation" method="POST">
    <input type="text" name="valor" placeholder=" valor">
    <input type="text" name="descripcion" placeholder=" descripcion">
    <button type="submit"> 
     Crear
    </button>
</form>