<%- include('templates/head')%>

<form action="/singUp" method="POST">
    <input type="email" name="email" placeholder=" Insertar email">
    <input type="password" name="password" placeholder=" Insertar password">
    <button type="submit"> 
     SingUp
    </button>
</form>